RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule (img|images|css|js|fonts)/(.*) _static/$1/$2 [L]



RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond $1 !^(index\.php|images|css|img|js|_static|robots\.txt) 
RewriteRule ^(.*)$ index.php?/$1 [L]
